/* CSS style file for Plemp! */

body {
  font-family: sans-serif;
}

pre {
  margin: 0px 0px;
  padding: 6px;
  font-size: 12px;
}

#header {
  position: relative;
  border-bottom: thin solid gray;
  height: 100%;
}

#header h1 {
  margin: 5pt 0pt;
  height: 20pt;
}
#header #title { float: left; }
#header #subtitle { font-size: 57%; }
#header #add {
  float: right;
  cursor: pointer;
  color: #ccc;
}
#header #add:hover { color: #000; }

#add_dialog {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
}
#add_dialog .background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #ddd;
  opacity: 0.8;
}

#add_dialog form {
  z-index: 1001;
  width: 500px;
  height: 430px;
  margin: 100px auto;
  background: white;
  border: thin solid black;
  padding: 15px;
  text-align: left;
  position: relative;
}

#add_dialog #new_title { width: 300px; }

#add_dialog #type { float: right; }

.left  { text-align: left; }
.right { text-align: right; }

.draggable {
  position: absolute;
  background: white;
  border: thin solid #888;
  padding: 10px;
  width: 400px;
}

.draggable div,
.draggable img,
.draggable audio,
.draggable video,
.draggable pre {
  width: 400px;
  max-height: 300px;
  overflow: auto;
}

.draggable pre {
  width: 388px;
}

.draggable .header {
  padding-bottom: 5px;
  font-size: 11px;
}

.draggable .header .title {
  width: 100%;
  margin-right: 30px;
  font-weight: bold;
  overflow: hidden;
}

.draggable .header .title .edit {
  padding-left: 10px;
  color: #ccc;
}

.draggable .header .delete {
  width: auto;
  float: right;
  padding: 0px 3px;
  border: thin solid black;
  color: #ccc;
  margin-left: 20px;
}

.draggable .header .edit:hover,
.draggable .header .delete:hover {
  color: #000;
  cursor: pointer;
}

.draggable .comments {
  color: #999;
  font-size: 11px;
  padding-top: 5px;
}
